.home{
    padding: 3rem 2rem 0;
    max-width: 960px;
    margin: 0 auto;
}


.top{
    font-family: 'Lekton', sans-serif;
    text-align: center;
}

.middle{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.bottom{
    font-family: 'Montserrat', sans-serif;
}

.top h1{
    font-size: 3.5em;
}

.top h2{
    font-size: 2.3em;
}

.top p{
    font-size: 1.7em;
}

.middle p{
    font-size: 1.2em;
}

.avatar{
    width: 280px;
}

.icono{
    width: 30px;
}

.bottom p{
    margin-left: 2.2em;
}

.bottom h2{
    font-size: 1.5em;
}

.bottom ul{
    margin-left: 3em;
    background-color: #e5e5ed;
    border-radius: 6px;
    padding: 0.1rem 1.5rem;
    margin-bottom: 2em;
}

.bottom ul li{
    font-size: 26px;
}

.tech{
    font-size: 0.6em;
}

.CV{
    background-color:#2a5974; 
    color:white; 
    font-weight: bold;
}

.redes{
    text-align: center;
}

.redes a{
    padding: 1rem 3rem;
    text-decoration: none;
}

footer{
    background-color:#26272b;
    padding:20px 0 10px;
    font-size:16px;
    line-height:24px;
    color:#737373;
    text-align: center;
    border-radius: 5px;
}